################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CryptoFT/FileContentIndex
/.vs/CryptoFT/FileContentIndex
*.vsidx
